In [24]:
import pandas as pd
import numpy as np

In [2]:
crowdfunding_data=pd.ExcelFile('crowdfunding.xlsx')

In [3]:
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [4]:
crowdfunding_info_df=pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')

In [5]:
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [6]:
contact_info_df=pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=3)

In [8]:
pd.set_option('max_colwidth', 400)

In [9]:
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [10]:
crowdfunding_info_df.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
644,932,Peters-Nelson,Distributed real-time algorithm,169400,81984,failed,2928,CA,CAD,1615784400,1633064400,False,False,theater/plays
975,1498,Ayala Group,Right-sized maximized migration,5400,8366,successful,135,US,USD,1595394000,1628312400,False,True,theater/plays
743,2244,Clark-Conrad,Exclusive bandwidth-monitored orchestration,3900,504,failed,17,US,USD,1627362000,1631854800,False,True,theater/plays
149,2757,"Payne, Oliver and Burch",Managed fresh-thinking flexibility,6200,13632,successful,195,US,USD,1599541200,1618549200,False,False,music/indie rock
492,2676,Garcia Group,Persevering interactive matrix,191000,45831,canceled,595,US,USD,1604728800,1615784400,True,True,film & video/shorts

In [11]:
contact_info_df.sample(n=5)

                                                                                           contact_info
987                     {"contact_id": 5242, "name": "Leah Ornelas", "email": "leah.ornelas@gmail.com"}
413  {"contact_id": 4785, "name": "Guillermina Nicholson", "email": "guillermina.nicholson@grondin.fr"}
533                       {"contact_id": 2077, "name": "Cilli Watts", "email": "cilli.watts@yahoo.com"}
326                            {"contact_id": 4603, "name": "Alf Bates", "email": "alf.bates@dunn.com"}
283              {"contact_id": 4548, "name": "Patricia Liebelt", "email": "patricia.liebelt@baca.org"}

In [12]:
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [13]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [15]:
len(crowdfunding_info_df['category & sub-category'].unique())

24

In [18]:
crowdfunding_info_df[['category', 'subcategory']]=crowdfunding_info_df['category & sub-category'].str.split('/', n=1, expand=True)

In [19]:
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [21]:
crowdfunding_info_df['category'].nunique()

9

In [22]:
crowdfunding_info_df['subcategory'].nunique()

24

In [26]:
category=crowdfunding_info_df['category'].unique()
subcategory=crowdfunding_info_df['subcategory'].unique()

In [27]:
cat_id=np.arange(1, len(category)+1)
subcat_id=np.arange(1, len(subcategory)+1)

In [29]:
category

array(['food', 'music', 'technology', 'theater', 'film & video',
       'publishing', 'games', 'photography', 'journalism'], dtype=object)

In [30]:
category_id=['cat0'+str(cat) for cat in cat_id]
category_id

['cat01',
 'cat02',
 'cat03',
 'cat04',
 'cat05',
 'cat06',
 'cat07',
 'cat08',
 'cat09']

In [31]:
subcategory_id=['scat0'+str(scat) for scat in subcat_id]

In [32]:
category_df=pd.DataFrame({
        'category_id':category_id,
        'category':category})

In [33]:
subcategory_df=pd.DataFrame({
    'subcategory_id':subcategory_id,
    'subcategory':subcategory
})

In [34]:
category_df.head()

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video

In [35]:
subcategory_df.head()

  subcategory_id  subcategory
0         scat01  food trucks
1         scat02         rock
2         scat03          web
3         scat04        plays
4         scat05  documentary

In [36]:
category_df.to_csv('category_df.csv', index=False)

In [38]:
subcategory_df.to_csv('subcategory.csv', index=False)