In [1]:
data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"

In [2]:
data = data.replace("'", '"')

In [3]:
data

'{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}'

In [4]:
import json
converted_data=json.loads(data)
converted_data

{'contact_id': 4661,
 'name': 'Cecilia Velasco',
 'email': 'cecilia.velasco@rodrigues.fr'}

In [5]:
for k,v in converted_data.items():
    print(k, v)

contact_id 4661
name Cecilia Velasco
email cecilia.velasco@rodrigues.fr

In [6]:
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

In [7]:
import re

In [8]:
contact_id=re.findall(r'(\d{4})', string_data)
contact_id

['4661']

In [9]:
import pandas as pd


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [12]:
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')

In [13]:
contacts_string_df.head()

                                        contact_info contact_id
0  contact_id 4661 name Cecilia Velasco email cec...       4661
1  contact_id 3765 name Mariana Ellis email maria...       3765
2  contact_id 4187 name Sofie Woods email sofie.w...       4187
3  contact_id 4941 name Jeanette Iannotti email j...       4941
4  contact_id 2199 name Samuel Sorgatz email samu...       2199

In [18]:
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [19]:
# Extract the email address using a regular expression pattern. 
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

['cecilia.velasco@rodrigues.fr']

In [20]:
contacts_string_df['name']=contacts_string_df['contact_info'].str.extract(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)')
contacts_string_df

,contact_info,contact_id,name
0,contact_id 4661 name Cecilia Velasco email cec...,4661,Cecilia Velasco
1,contact_id 3765 name Mariana Ellis email maria...,3765,Mariana Ellis
2,contact_id 4187 name Sofie Woods email sofie.w...,4187,Sofie Woods
3,contact_id 4941 name Jeanette Iannotti email j...,4941,Jeanette Iannotti
4,contact_id 2199 name Samuel Sorgatz email samu...,2199,Samuel Sorgatz
...,...,...,...
995,contact_id 3684 name Whitney Noack email whitn...,3684,Whitney Noack
996,contact_id 5784 name Gelsomina Migliaccio emai...,5784,Gelsomina Migliaccio
997,contact_id 1498 name Evangelista Pereira email...,1498,Evangelista Pereira
998,contact_id 6073 name Gareth Comolli email gare...,6073,Gareth Comolli
999,contact_id 4939 name Michelangelo Hess email m...,4939,Michelangelo Hess